# Ignore compiled binaries and build output directories
bin/
obj/

# Ignore IDE-specific files and configurations
*.sln
*.csproj
*.config
*.vs

# Ignore user-specific files and application settings
*.user
*.suo
*.prefs

# Ignore NuGet packages and their associated files
**/packages/*

# Ignore properties directory
Properties/